<div class="container text-center">
  <h1> The About page </h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community
  for developers and entrepeneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo commodi voluptate fuga iure. Inventore, nam, libero, quisquam, commodi tenetur nulla rem iste laborum eaque hic reiciendis deserunt temporibus odio perferendis.</p>
</div>